

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
@media (min-width: 768px) { 
  .sb-fixed{
    position: fixed;
  } 
}

.imgTransportIcon {
    
    width: 24px;
    height: 27.75px;
    vertical-align:middle;
    padding-right: 6px;
}


.autoCompleteLabel
{
	float: right;
}

.inline-div
{
	line-height: 1;

	
}
#selJourneyList
{
	height: 400 px;

}

#divJViewerL
{
	display: block;
    

	border-top-style:solid;
	border-left-style:solid;
    min-height: 700px; /* !important;*/
    height:auto !important; 
    height: 100px; 
    
	overflow-y: scroll;
	/*margin-right: -30px;*/
	max-height: 700px !important;
	width: 30.975%;
	
	
	
	
	float: left;
	
	
	
}
.formLabel {
     float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
    
}

#divJViewerB
{
	height: 200 px;
	border-style:solid;
	width: 100%;
	
}
#divJViewerR
{
	display: block;
	border-top-style:solid;
	border-right-style:solid;
	height: 700px;
	
	
	
	
}

#map_canvas img {  max-width: none; width: auto; display:inline; }

#map_canvas label { 
  width: auto; display:inline; 
} 




.mapDiv
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-width:0.5px;

}

H3
{
 
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border-bottom: 1px solid #eee;

}
