<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--
  <proxy proxyaddress="http://aproxy.rmit.edu.au"  bypassonlocal="false"
  scriptLocation="http://wpad.rmit.edu.au/wpad.dat"
  usesystemdefault="true" />


  <configuration>
    <system.net>
      <defaultProxy>
        <proxy
          usesystemdefault="false"
          proxyaddress="http://aproxy.rmit.edu.au:8080"
          bypassonlocal="true"
      />
        <bypasslist
          <add address="[a-z]+\.contoso\.com" />
        </bypasslist>
      </defaultProxy>
    </system.net>
  </configuration>
  -->
</configuration>