<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <setting>
    <name>ConnectionString</name>
    <value>server=127.0.0.1;User Id=root;password=qwerasdf;Persist Security Info=True;database=RmitJourneyPlanner;shared memory name=MYSQL; protocol=memory</value>    
  </setting>
  
  
  
</settings>