

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
@media (min-width: 768px) { 
  .sb-fixed{
    position: fixed;
  } 
}

.imgTransportIcon {
    vertical-align: middle;
    width: 24px;
    height: 27.75px;
}










