html
{
	height: 100%;
}
body
{
	height: 100%;
	margin: 0;
	padding: 0;
}
#map_canvas
{
	height: 100%;
	width: 70%;
	float: left;
	z-index: 4;
}
#sideHatch
{
	width: auto;
	height: 100%;
	z-index: 2;
	padding: 20px;
	position: relative;
	left: 30px; /*: left;*/
	/*overflow:auto;*/
	
	
}
H1
{
	padding: 20px;
	margin-top: -60px;
	margin-right: -40px;
	border-color: #000000;
	font-family: Sans-Serif;
	background-color: #FF0000;
	color: #FFFFFF;
	border-bottom-style: solid;
}
BODY
{
	font-family: Sans-Serif;
}
UL
{
}
#innerSideHatch
{
	padding: 20px;
	margin: 20px;
}
body
{
	display: inline;
}


.directionEntry
{
	vertical-align: middle;
	background-color: #EEEEEE;
	margin-right: -30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: table-row;
}

.directionEntryAlt
{
	vertical-align: middle;
	background-color: #CDCDFF;
	margin-right: -30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: table-row;
}

.typeSpan
{
	display: table-cell;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.nameSpan
{
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
}

.timeSpan
{
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
}

.transportImage
{
	vertical-align: middle;
	padding-right: 20px;
}

#btnReset
{
	position: relative;
	left: 60px;
}


#dirList
{
	margin-top: 10px;
	display: table;
}

#buttons
{
	float: right;
	vertical-align: middle;
}

#infoPanel
{
	float: left;
	vertical-align: middle;
}

#topPanel
{
	vertical-align: middle;
}

#txtSource
{
	width: 300px;
}
#txtDestination
{
	width: 300px;
}
#txtMaxWalk
{
	width: 20px;
}
.textBoxRow
{
}

#topPanel
{
	
}
