html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas
{
	height: 100%;
	width: 75%;
	float: left;
	z-index: 4;	
}
      #sideHatch
{
	
	width: auto;
	height: 100%;
	z-index: 2;
	padding: 20px;	
	position: relative;
    left: 30px;
    /*: left;*/

}
      H1
{
	padding: 20px;
	margin-top: -60px;
	margin-right: -40px;
	border-color: #000000;
	font-family: Sans-Serif;
	background-color: #FF0000;
	color: #FFFFFF;
	border-bottom-style: solid;
}
      BODY { font-family:Sans-Serif}
      UL
{
	
}
#innerSideHatch
{
	padding: 20px;
	margin: 20px;
}
body
{
	display:inline;
}
